body {
  background-color: white;
}

#name {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  color: black;
}

.button-container, .list-container, .text-field-container, .filter-field-container {
  display: flex;
  justify-content: center;
}

input {
  width: 480px;
  height: 40px;
  border-radius: 5px;
  font-size: 24px;
}

#text-field { 
  border-color: white;
}

.text-field-container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

button {
  width: 180px;
  height: 40px;
  border-radius: 1rem;
  border-style: none;
  background-color: gray;
  font-size: 24px;
  color: white;
}

button:hover {
  background-color: rgb(184, 184, 184);
}

.button-container {
  gap: 8rem;
}

.filter-field-container {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#filter-field {
  border-style: none;
  border-bottom: solid;
  border-radius: 0;
  border-color: lightgray;

}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
  
  border-style: solid;
  border-color: rgb(121, 121, 121);
  border-radius: 10px;

  margin-right: 40px;
  margin-top: 10px;
  padding: 10px;
}

.remove-item-btn {
  width: 60px;
  height: 40px;
  background-color: lightgray;
  color: red;
}

.list {
  background-color: lightgray;
  width: 500px;
  height: 400px;
  border-radius: 1rem;
  font-size: 24px;

}

